@charset "UTF-8";
/*usage 
p {
    @include fontSize(16px);
}*/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/*去除chrome 输入框的黄底*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

hr {
  border: none;
  border-bottom: 1px #eee solid;
  margin: 0.9375rem 0;
  height: 0.0625rem; }

.text-center {
  text-align: center; }

.text-left {
  text-align: center; }

.text-right {
  text-align: center; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.browserupgrade {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #f2dede;
  margin: 0 0 10px;
  font-size: 22px;
  line-height: 1.4;
  color: #333;
  vertical-align: middle; }

/* 消除iOS 系统 email phone date address 样式 */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important; }

