<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SiteName>德思莱</SiteName>
  <SiteDomainName>http://localhost</SiteDomainName>
  <DeveloperDomainName>http://heiniaozhi.cn</DeveloperDomainName>
  <Developer>黑鸟志</Developer>
  <WebNumber>粤ICP备14000167号</WebNumber>
  <BaiduSiteID>43021349b41411d3c211d616df2cb12b</BaiduSiteID>
  <GoogleAnalyticsID>43021349b41411d3c211d616df2cb12b</GoogleAnalyticsID>
  <SiteTheme>Default</SiteTheme>
  <Version>SIGCMS MVC 1.50</Version>
  <Developer>深圳市黑鸟志有限公司</Developer>
  <EnableCaching>true</EnableCaching>
  <DefaultCacheDuration>600</DefaultCacheDuration>
  <CacheDuration>30</CacheDuration>
  <DatabaseBackupDir>/App_Data/Backup</DatabaseBackupDir>
  <IsClose>false</IsClose>
  <CloseInfo>系统升级中</CloseInfo>
  <LoginLogo>/uploads/images/logo_cn.png</LoginLogo>
  <DashboardLogo>/uploads/images/logo_bot.png</DashboardLogo>
  <Theme>Default</Theme>
</Settings>