@model SIG.WebAPICore2.Data.ApplicationUser
@{
    ViewData["Title"] = "Login";
}


@{
    <form asp-antiforgery="true" asp-controller="Account" method="post" asp-action="Login">
        User name: <input name="username" type="text" />
        Password: <input name="password" type="password" />
        <input name="submit" value="Login" type="submit" />
        <input type="hidden" name="returnUrl" value="@Model" />
    </form>
}
